<div class="top">
 <h1>ようこそBookersへ！</h1>
 
 <div class="top_body"
 <p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</P>
 <P></P>印象を共有し交換することができます</p>
 
 <%= link_to 'start', '/books' %>
 </div
</div>
